#page_notes {
	background: #dca;
}
#notepanel {
	display: flex;
	width: 60%;
	margin: 10px auto 20px;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
#notebox_template {
	display: none;
}

/* notes */
.noteframe {
	width: 23%;
	margin: 1%;
}
.notebox {
	position: relative;
	padding: 10px 15px;
	border: 2px solid #dcb;
	border-radius: .5rem;
	background: #fff;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}
.note_title {
	font-weight: bold;
	font-size: 20px;
}
.note_time {
	color: #777;
	font-size: 12px;
	padding: 5px 0 5px;
	border-bottom: 1px #aaa dashed;
}
.note_content {
	font-size: 14px;
	padding-top: 8px;
}
.note_content p {
	margin: 0;
}

/* new note clickable */
#notebox_create {
    align-self: stretch;
}
.notebox_create {
	border: 2px dashed #000;
	background: transparent;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
    cursor: pointer;
}
.notebox_create:hover {
	background: rgba(255, 255, 255, 0.5);
}

/* editor */
#editorbox {
	visibility: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
#editor {
	width: 500px;
	height: 600px;
	border: 2px solid #dcb;
	border-radius: .5rem;
	background: #fff;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    padding: 15px;
}
#form_createnote {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 100%;
}
.editor_content {
	height: 460px;
}
.editor_content textarea {
    height: 100%;
    resize: none;
}
#form_createnote button {
	width: 150px;
	height: 40px;
	margin: 0 auto;
	border: 1px solid #aaa;
	border-radius: .5rem;
	background: #fff;
}
#form_createnote button:hover {
	border-color: #000;
	background: #eee;
}